android-studio/.repo
android-studio/.repo.ok
android-studio/external
android-studio/prebuilts
android-studio/sdk
android-studio/tools
android-studio/out
android-studio/repo
aosp/.repo
aosp/.repo.ok
aosp/Makefile
aosp/abi
aosp/art
aosp/bionic
aosp/bootable
aosp/build
aosp/cts
aosp/dalvik
aosp/developers
aosp/development
aosp/device
aosp/docs
aosp/external
aosp/frameworks
aosp/hardware
aosp/libcore
aosp/libnativehelper
aosp/ndk
aosp/packages
aosp/pdk
aosp/prebuilts
aosp/sdk
aosp/system
aosp/tools
aosp/out
aosp/repo
aosp/buildspec.mk
android-x86/.repo
android-x86/Makefile
android-x86/art
android-x86/bionic
android-x86/bootable
android-x86/build
android-x86/dalvik
android-x86/development
android-x86/external
android-x86/frameworks
android-x86/hardware
android-x86/kernel
android-x86/libcore
android-x86/libnativehelper
android-x86/ndk
android-x86/prebuilts
android-x86/repo
android-x86/sdk
android-x86/system
android-x86/abi
android-x86/device
android-x86/.repo.ok
android-x86/out
android-x86/packages
android-x86/vendor
